.bid-card {
    border: solid;
    padding: 10px;
    justify-content: center;
    margin: 30px;
}

.login-form {
    border: solid;
    padding: 10px;
    margin: 30px;
    justify-content: center;
}

.bid-card {
    border: solid;
    padding: 10px;
    margin: 30px;
    justify-content: center;
}

.navigation{
    border: solid;
    margin: 30px;
}

.navigation>ul{
    list-style-type: none;
    padding: 10px;
}

.navigation>ul>li {
    display: inline;
    padding: 10px;
}

.product {
    border: solid;
    margin: 30px;
    padding: 10px;
}

.profile {
    border: solid;
    margin: 30px;
    padding: 10px;
}